body {
    font-family: var(--font-primary);
    line-height: 1.6;
    color: var(--gray-800);
    background:
        radial-gradient(ellipse 60% 40% at 20% 30%, aqua 0%, transparent 80%),
        radial-gradient(ellipse 50% 30% at 80% 20%, #00ffff99 0%, transparent 80%),
        radial-gradient(ellipse 40% 60% at 70% 80%, #00ffff55 0%, transparent 80%),
        linear-gradient(120deg, #000 0%, #222 100%);
    background-attachment: fixed;
    background-size: cover;
}
